body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--medium-blue);
}

.products-container {
    width: 95%;
    min-height: 100px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;   
    margin-bottom: 50px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    background: var(--white);
}

.title {
    margin: 2rem 0;   
}

.title h2::after{
    content: '';
    display: flex;   
    width: 100%;
    height: 0.3rem;
    background-color: var(--slate-blue);          
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}