@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root {    
    --medium-blue: #0C0CE94D;
    --navajo-white: #FDE3A7D7;
    --white: #FFFFFF;
    --slate-blue: #6C63FF;
    --hover-grey: #EEEEEE75;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--medium-blue);
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--navajo-white);
}

.form-image img {
    width: 25rem;
}

.form-register {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 3rem;
    background: var(--white);
}

.form-title {
    margin-bottom: 2rem;
    display: flex;
    justify-content: end;
    position: relative;
}

.form-title h2::after{
    content: '';
    display: block;   
    width: 5rem;
    height: 0.3rem;
    background-color: var(--slate-blue);
    position: absolute;    
    right: 0;    
    border-radius: 10px;
}

.input-group {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-box input {
    margin: 0.2rem 0;
    padding: 0.6rem 1.0rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001C;
}

.input-box input:hover {
    background-color: var(--hover-grey);
}

.input-box input:focus-visible {
    outline: 1px solid var(--slate-blue);
}

.input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 0.2rem;;
    color: #000000C0; 
}

.input-box label::placeholder {
    color: #000000BE;
}

.submit-button input {
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: var(--slate-blue);
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.submit-button input:hover {
    filter: brightness(0.8);
    transform: scale(1.1) translateY(-5px);    
}
    

